init:
  - git config --global core.autocrlf true

environment:
  MyPSGalleryAPIKey:
    secure: kIYsNnhXS69KNHOKGmz+GQn5pfwnTer90p7YUk3sKmkvFEwIpvxDjDAFFBu30EJ4
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
  - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu

install:
  - cinst pester

build: false

# Invoke Pester to run all of the unit tests, then save the results into XML in order to populate the AppVeyor tests section
# If any of the tests fail, consider the pipeline failed
test_script:
  - ps: $res = Invoke-Pester -Path ".\Tests" -OutputFormat NUnitXml -OutputFile .\Tests\TestsResults.xml -PassThru
  - ps: (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\Tests\TestsResults.xml))
  - ps: if ($res.FailedCount -gt 0) { throw "$($res.FailedCount) tests failed."}
  - ps: . .\AppVeyorPublish.ps1